<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <com.lagou.demo.servlet>
        <com.lagou.demo.servlet-name>RedirectServlet</com.lagou.demo.servlet-name>
        <com.lagou.demo.servlet-class>com.lagou.demo02.com.lagou.demo.servlet.RedirectServlet</com.lagou.demo.servlet-class>
    </com.lagou.demo.servlet>
    <com.lagou.demo.servlet-mapping>
        <com.lagou.demo.servlet-name>RedirectServlet</com.lagou.demo.servlet-name>
        <url-pattern>/redirectServlet</url-pattern>
    </com.lagou.demo.servlet-mapping>
    <com.lagou.demo.servlet>
        <com.lagou.demo.servlet-name>ForwardServlet</com.lagou.demo.servlet-name>
        <com.lagou.demo.servlet-class>com.lagou.demo02.com.lagou.demo.servlet.ForwardServlet</com.lagou.demo.servlet-class>
    </com.lagou.demo.servlet>
    <com.lagou.demo.servlet-mapping>
        <com.lagou.demo.servlet-name>ForwardServlet</com.lagou.demo.servlet-name>
        <url-pattern>/forwardServlet</url-pattern>
    </com.lagou.demo.servlet-mapping>
    <com.lagou.demo.servlet>
        <com.lagou.demo.servlet-name>TargetServlet</com.lagou.demo.servlet-name>
        <com.lagou.demo.servlet-class>com.lagou.demo02.com.lagou.demo.servlet.TargetServlet</com.lagou.demo.servlet-class>
    </com.lagou.demo.servlet>
    <com.lagou.demo.servlet-mapping>
        <com.lagou.demo.servlet-name>TargetServlet</com.lagou.demo.servlet-name>
        <url-pattern>/targetServlet</url-pattern>
    </com.lagou.demo.servlet-mapping>
</web-app>